body {
  text-align: center;
  margin: auto;
  font-family: Georgia, serif;
}

#Input {
  padding: 1vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(200px, auto);
}

.div1 {
  background-color: #5b9aa0;
  grid-column-start: 1;
  grid-column-end: 8;
}

.div2 {
  background-color: #d6d4e0;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start:3;
  grid-row-end:4;
}

.div3 {
  background-color: #f2ff00;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start:2;
  grid-row-end:6;
}

.div4 {
  background-color: #b8a9c9;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:6;
}

.div5 {
  background-color: #d6d4e0;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start:2;
  grid-row-end:3;
}
.div6 {
  background-color: #b8a9c9;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start:2;
  grid-row-end:6;
}
.div7 {
  background-color: #d6d4e0;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start:4;
  grid-row-end:6;
}
